export(cluspca, clusmca, tuneclus)
S3method(plot, cluspca)
S3method(plot, clusmca)
S3method(plot, tuneclus)
S3method(print, cluspca)
S3method(print, clusmca)
S3method(print, tuneclus)
S3method(summary, cluspca)
S3method(summary, clusmca)
S3method(summary, tuneclus)
import(ggplot2, dummies, grid)
importFrom("ca","mjca")
importFrom("stats","princomp")
importFrom("corpcor","fast.svd")
importFrom("corpcor","pseudoinverse")
importFrom("plyr","mapvalues")
importFrom("dplyr","group_by")
importFrom("dplyr","summarise_all")
importFrom("dplyr","%>%")
importFrom("dplyr","funs")
importFrom("GGally","ggparcoord")
importFrom("ggrepel","geom_text_repel")
importFrom("fpc","cluster.stats")
importFrom("grDevices", "dev.off", "hcl", "pdf", "rainbow")
importFrom("stats", "dist", "kmeans", "promax", "runif", "varimax")
importFrom("cluster","daisy")